[default]
DEFAULT_VAL abc

# [DEPS/SPEED]

[std/0]
TEST_VAL xyz
RGET_VAL #{rget TEST_VAL}
RGET_ECHO_TGT [system echo INFO RGET TEST_VAL #{rget TEST_VAL}]
RGET_DEF #{rget DEFAULT_VAL}
RGET_ECHO_DEF [system echo INFO RGET DEFAULT_VAL #{rget DEFAULT_VAL}]
RGET_SHELL_SET #{shell ls $MT_RUN_AREA_HOME/tests}
RGET_SHELL_ECHO [system echo #{rget RGET_SHELL_SET}]
