[fields]
release TEXT
iteration TEXT

[graph]
g1 sqlite3:../example.db alldat event_time var val stuff

[testsection]
release_value #{getenv release}
target_value  #{getenv MT_TARGET}

[setup]
linktree #{getenv MT_RUN_AREA_HOME}/links
max_concurrent_jobs 4
logviewer (%MTCMD%) 2> /dev/null > /dev/null
# htmlviewercmd firefox -new-window 
htmlviewercmd arora
runtimelim 15m
# nodot 
# minspace 10000000000000000000
# dbdir-space-required 10000000000000000000
# free-space-script echo 1

# For easy debugging. DO NOT USE IN PRODUCTION CONFIG FILE!
testcopycmd cp --remove-destination -rsv TEST_SRC_PATH/. TEST_TARG_PATH/. >> TEST_TARG_PATH/mt_launch.log 2>> TEST_TARG_PATH/mt_launch.log

[jobtools]
# launcher #{ shell if which bsub > /dev/null;then echo bsub;else echo nbfake;fi}
launcher nbfake
maxload 1.5

[server]
# required yes

[disks]
disk0 #{scheme (create-directory "#{getenv MT_RUN_AREA_HOME}/runs")}

# removeme [system sleep 5] 
# removeme #{ system sleep 6} #{ shell sleep 7} #{ scheme (thread-sleep! 8)}
[archive]

# where to get bup executable
# bup /path/to/bup

# use machines of these flavor
useflavors plain
targsize 2G

# minimum space required on an archive disk before allowing archiving to start (MB)
minspace 10

[archive-disks]

# Archives will be organised under these paths like this:
#  <testsuite>/<creationdate>
# Within the archive the data is structured like this:
#  <target>/<runname>/<test>/
disk0 /mfs/tmp/archive

[include local.config]
[include ../supplemental.megatest.config]

[include test.ini]

[dashboard]
btn-height x14
btn-fontsz 6
cell-width 100