[default]
GOODTESTS runconfig-tests testpatt rollup envvars rerunclean listruns-tests itemwait dependencies testpatt_envvar toprun fullrun ro_test tconfdisks env-pollution env-pollution-usecacheno skip-on-fileexists itemwait-simple
MTRUNNER   #{getenv MT_RUN_AREA_HOME}/scripts/mtrunner
MTTESTDIR  #{getenv MT_RUN_AREA_HOME}

# DO NOT OVERRIDE MTPATH! THIS QA NEEDS TO BE ABLE TO CONTROL THE VALUE OF MTPATH!
# MTPATH     #{shell readlink -f #{getenv MT_RUN_AREA_HOME}/../../bin}

CHICKEN_PATH_BASE /opt/chicken
# CHICKEN_VERSIONS 4.9.0.1_for_14.04
CHICKEN_VERSIONS 4.10.0_x86_64
# 4.10
# 4.11rc2 <= has problems!
MEGATEST_FOSSIL_FILE $HOME/fossils/megatest.fossil

[include local-test.config]
[include ../supplemental.runconfigs.config]

# supplemental.runconfigs.config

# Include a file based on version of nover_eh
# [nover_eh/testit]
# Test by running: megatest -show-runconfig -dumpmode ini -target nover_eh/testit
#

[include #{getenv release}.dat]


[Another/One/Here]
VAR VAL1

[v1.60/15/dev]
FOO is foo

[v1.60/15/%]
WHATEVER this is!

[/v1.6.*dev/]
QUICKPATT %

[/v1.60/.*/]
JUNK from wildcard v1.60/%

[DEFAULT]
SOMEDUMBRUNVAR yes

