[default]
MTRUNNER   #{getenv MT_RUN_AREA_HOME}/scripts/mtrunner
MTTESTDIR  #{getenv MT_RUN_AREA_HOME}
MTPATH     #{shell readlink -f #{getenv MT_RUN_AREA_HOME}/../../bin}
# NBFAKE_HOST plxcas130
CHICKEN_PATH_BASE /opt/chicken
CHICKEN_VERSIONS 4.10 4.11rc2
MEGATEST_FOSSIL_FILE $HOME/fossils/megatest.fossil

[include local-test.config]
[include ../supplemental.runconfigs.config]

# supplemental.runconfigs.config

[v1.60/15]

[v1.60/28_dave]
PATH /p/foundry/env/pkgs/logpro/1.11/bin:$PATH

# Include a file based on version of nover_eh
# [nover_eh/testit]
# Test by running: megatest -show-runconfig -dumpmode ini -target nover_eh/testit
#

[include #{getenv release}.dat]
[default]
PATH #{rget MTPATH}:#{getenv PATH}

