
[v1.63/%/dev]
rollup/% 0 ;; example waiver which would apply to rollup and it's items
  9 (expect:waive in "LogFileBody" = 0 "This is a waiver rule to be injected before line 9" #/some pattern/)
  999 (expect:required in "LogFileBody" = 1 "This rule to be appended at end of logpro file" #/another pattern/)

[%/%/%]
%/% 0 ;; some waivers that apply to *all* tests
  0 ;; nothing here yet.
